* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #0c9794;
}

#main {
  background-color: rgb(65, 17, 84);
  margin: 20px 20px;
  padding: 5px;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(112, 72, 118);

}

header h1 {
  color: rgb(248, 242, 249);
}

#brand-name {
  font-size: 2.2rem;
  font-weight: bolder;
  padding-left: 5px;
  text-decoration: none;
  color: rgb(248, 245, 251);

}

ul {
  display: flex;
  list-style: none;
}

ul>li {
  padding-left: 15px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
}

ul li a:hover {
  background-color: rgb(150, 97, 162);
  border-radius: 30px;
}

#img-div {
  width: 800px;
  margin: 30px auto;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-caption {
  display: block;
  padding: 8px;
}


